/* src/index.css */

/*
  1. Use a better box model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin on the body.
*/
body {
  margin: 0;
}

/*
  3. Set basic defaults for a full-page app.
     This prevents unexpected horizontal scrollbars.
*/
html, body, #root {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}